.txnCard {
  background: #212429 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 4px 6px #ffffff;
  border-radius: 12px;
  opacity: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.WithdrawAmountInput {
  background: #cccccc 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 6px #000000f5;
  border-radius: 30px;
  color: #212429 !important;
  padding: 0.5rem 1.5rem;
  flex: 1;
  max-width: 283px;
  font-weight: bold;
}